<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('./partials/head.ejs') %>

        <style>
            input {
                display: block;
                width: 35%;
            }
            
            textarea {
                display: block;
                resize: none;
            }
            
            .btn {
                padding: 8px 20px;
            }
            
            #email-content,
            #product-content {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            
            #product-content {
                width: 100%;
            }
            
            #dashboard {
                display: flex;
                justify-content: space-between;
            }
            
            #product-dashboard {
                display: block;
            }
            
            .email-section,
            .email-list {
                width: 48%;
            }
        </style>

</head>

<body>

    <div class="tm-page-wrap mx-auto">
        <div class="position-relative">
            <div class="position-absolute tm-site-header">
                <div class="container-fluid position-relative">
                    <div class="row">
                        <div class="col-7 col-md-4">

                        </div>
                        <div class="col-5 col-md-8 ml-auto mr-0">
                            <div class="tm-site-nav">

                                <%- include('./partials/nav.ejs') %>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="container-fluid px-0">
            <div class="mx-auto tm-content-container">
                <div class="row mt-3 mb-5 pb-3">
                    <div class="col-12">
                        <div class="mx-auto tm-about-text-container px-3 " style="margin-top: 100px;">
                            <h2 class="tm-page-title mb-4 text-dark font-weight-bolder">Collaborating With Us</h2>
                            <p class="mb-4">We are interested in collaborating with islamic small businesses all over the world. We will promote the Products for a 10-15% commission, but we have to chose what to and what to not promote.</p>
                            <p class="mb-4">We also will be promoting via social media, but this is only for special businesses because we are not looking to overload our social media with marketing.</p>
                            <p class="mb-4">Please make sure to know that in order to collaborate with us you have to agree with our terms. If you are interested please contact us via email to haramhabibi20@yahoo.com or contact us to the contact page.
                            </p>
                            <a href="/contact" class="btn btn-primary">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <%- include('./partials/footer.ejs') %>
            <!-- tm-content-container -->
    </div>

    </div>
    <!-- .tm-page-wrap -->

    <script src="js/jquery-3.4.1.min.js "></script>
    <script src="js/bootstrap.min.js "></script>
    <script src="js/admin.js"></script>
</body>

</html>