<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('./partials/head.ejs') %>

</head>


<body>
    <div class="tm-page-wrap mx-auto">
        <div class="position-relative">
            <div class="potition-absolute tm-site-header">
                <div class="container-fluid position-relative">
                    <div class="row">
                        <div class="col-7 col-md-4">

                        </div>
                        <div class="col-5 col-md-8 ml-auto mr-0">
                            <div class="tm-site-nav">

                                <%- include('./partials/nav.ejs') %>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tm-welcome-container tm-fixed-header tm-fixed-header-3">
                <div class="text-center">
                    <p class="tm-welcome-text mb-1 text-black font-weight-bold" id="black-text">We are here to answer any of your questions.</p>
                </div>
            </div>

            <div id="tm-fixed-header-bg"></div>
            <!-- Header image -->
        </div>

        <!-- Page content -->
        <main>
            <div class="container-fluid px-0">
                <div class="mx-auto tm-content-container">
                    <div class="row mt-3 mb-5 pb-3">
                        <div class="col-12">
                            <div class="mx-auto tm-about-text-container px-3">
                                <h2 class="tm-page-title mb-4 text-dark font-weight-bolder">Contact our team</h2>
                                <p class="mb-4">
                                    Contact our team through email or social media, in instagram or tik tok. Our team will be responding inside of 24 hours.
                                </p>
                                <p class="mb-4">If you see any problem in the website please send us an email and we will try to fix it very fast.</p>
                            </div>
                        </div>
                    </div>
                    <div class="mx-auto pb-3 tm-about-text-container px-3">
                        <div class="row">
                            <div class="col-lg-6 mb-5">
                                <form id="contact-form" action="contact" method="POST" class="tm-contact-form">
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control rounded-0" placeholder="Name" required="" />
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control rounded-0" placeholder="Email" required="" />
                                    </div>
                                    <div class="form-group">
                                        <textarea rows="8" name="message" class="form-control rounded-0" placeholder="Message" required=""></textarea>
                                    </div>

                                    <div class="form-group mb-0">
                                        <button type="submit" class="btn btn-primary rounded-0 d-block ml-auto mr-0 tm-btn-animate tm-btn-submit tm-icon-submit"><span>Submit</span></button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-6">
                                <div class="mapouter mb-60">
                                    <div class="gmap_canvas">
                                        <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=albania&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="parallax-window parallax-window-2" data-parallax="scroll" data-image-src="img/contact-2.jpg"></div>


            </div>
        </main>

        <%- include('./partials/footer.ejs') %>

    </div>

    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/parallax.min.js"></script>
</body>

</html>