<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('./partials/head.ejs') %>

        <style>
            input {
                display: block;
                width: 35%;
            }
            
            textarea {
                display: block;
                resize: none;
            }
            
            .btn {
                padding: 8px 20px;
            }
            
            #email-content,
            #product-content {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            
            #product-content {
                width: 100%;
            }
            
            #dashboard {
                display: flex;
                justify-content: space-between;
            }
            
            #product-dashboard {
                display: block;
            }
            
            .email-section {
                width: 100%;
            }
            
            @media (max-width: 991px) {
                .email-section,
                .email-list {
                    width: 100%;
                    margin-bottom: 50px;
                }
            }
        </style>

</head>

<body>

    <div class="tm-page-wrap mx-auto">



        <div class="container-fluid">
            <div id="content" class="mx-auto tm-content-container">
                <main>
                    <div class="row">
                        <div class="col-12">


                            <div class="tm-categories-container mb-5" id="dashboard">
                                <div class="email-section">
                                    <h4 class="font-weight-bold">Emails Sent To Us</h4>
                                    <hr>
                                    <ul class="list-group">
                                        <% email.forEach((em)=>{ %>
                                            <li class="list-group-item mb-3">
                                                <div id="email-content">
                                                    <p class="mb-0 text-primary fw-bold">
                                                        <%= em.email %>
                                                    </p>
                                                    <i class="fas fa-trash-alt" data-doc="<%= em._id %> " style="color: rgb(242, 79, 79); cursor: pointer;"></i>
                                                </div>
                                            </li>


                                            <% }) %>
                                    </ul>
                                    <a class="btn btn-info mt-3" href="/admin">Go back to Admin</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </main>
            </div>
        </div>

        <%- include('./partials/footer.ejs') %>
            <!-- tm-content-container -->
    </div>

    </div>
    <!-- .tm-page-wrap -->

    <script>
        const trash = document.querySelectorAll(".fa-trash-alt");

        trash.forEach((tra) => {
            tra.addEventListener("click", (e) => {
                const endpoint = `/subscription/${tra.dataset.doc}`;
                console.log(endpoint)

                fetch(endpoint, {
                        method: 'DELETE'
                    })
                    .then((response) => {
                        console.log(response)
                        response.json()
                    })
                    .then((data) => {
                        window.open('/subscription', "_self")
                    })
                    .catch((err) => console.log(err));

            })
        })
    </script>

    <script src="js/jquery-3.4.1.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="js/admin.js"></script>
</body>

</html>